<ion-content [fullscreen]="true">
  <div class="home">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
        <img src="assets/image 76.png">
        </ion-col>
        <ion-col size="6">
          <ion-row class="name">Hi, Ravi Prakash</ion-row>
          <ion-row class="refreshtime">2 Min Ago</ion-row>
        </ion-col>
        <ion-col size="1"><ion-icon style="zoom:2.0;" name="eye-outline"></ion-icon></ion-col>
        <ion-col size="1"><ion-icon style="zoom:2.0;" name="refresh-outline"></ion-icon></ion-col>
        <ion-col size="1"><ion-icon style="zoom:2.0;" name="notifications-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="Three-button">
        <ion-col size="4"><ion-button class="Three-button">Shipment</ion-button></ion-col>
        <ion-col size="4"><ion-button class="Three-button" fill="outline">Vehicle</ion-button></ion-col>
        <ion-col size="4"><ion-button class="Three-button" fill="outline">vendor</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
