.home {
    
    width:100vw;
    background:linear-gradient(164.26deg, #D5E6FF -0.3%, #FFFFFF 31.71%, #FFFFFF 62.19%, #C9DEFF 97.25%);
    
}
.name{
    font-family: NATS;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.011em;
    text-align: left;
    color:#1540BD;
}
.refreshtime{
    font-family: Merge One;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.011em;
    text-align: left;
    
    }
.notificationicon img{
    
        width: 180px;
        height: 30px;
        top: 36px;
        left: 198px;
        gap: 0px;
        opacity: 0px;
        color:#E3EFFF;
        ;
        }
        .refreshicon .img{
            width: 25.21px;
        height: 20.25px;
        top: 9.88px;
        left: 308.33px;
        gap: 0px;
        opacity: 0px;
        
    }

.Three-button{
  --border-radius:22.5px;
 
        
        }