.home {
    
    width:100vw;
    background:linear-gradient(164.26deg, #D5E6FF -0.3%, #FFFFFF 31.71%, #FFFFFF 62.19%, #C9DEFF 97.25%);
    
}
ion-card{
  background-color: transparent;
}
.name{
    font-family: NATS;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.011em;
    text-align: left;
    color:#1540BD;
}
.refreshtime{
    font-family: Merge One;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.011em;
    text-align: left;
    
    }
.notificationicon img{
    
width: 180px;
height: 30px;
top: 36px;
left: 198px;
gap: 0px;
opacity: 0px;
color:#E3EFFF;
;
}
.refreshicon .img{
    width: 25.21px;
height: 20.25px;
top: 9.88px;
left: 308.33px;
gap: 0px;
opacity: 0px;

}
.profile{
  height: 130px;
  width: 110px;
}
// .fastcard{
//   margin-top: -5vh;
//   }

// .addempeditinfo{
//     display: flex;
//     justify-content: space-between;
//     --border-radius: 5vmin;
//     color: #1540BD;

    
// }
.info{
  //styleName: H3;
font-family: Merge One;
font-size: 14px;
font-weight: 400;
line-height: 16.48px;
text-align: left;

}
.text{
  text-transform: capitalize;
  color: #1540BD;
  
}
.heding{
  font-size: 20px;
  color: #1540BD;
}
.addempeditinfotext{
  text-transform: capitalize;
  color: #1540BD;
  font-size: 20px;
 
}
.buttonLEMH{
  display: flex;
  justify-content: space-between;
}



.custom-button {
  --border-radius: 50px;
  }
ion-searchbar.custom {
  --border-radius: 12px;
  color :#1540BD
  }

.EmpSta span{
    align-items: center;
  }

  .emplyeenamestatusheding{
    display: flex;
    justify-content: space-between;
  }
  .emplyeenamestatus{
    display: flex;
    justify-content: space-between;

  }
.present{
  background-color:white ;
 border-radius: 5vmin;
 border: 1px solid #29D25F; 
padding: 5px;
color: #29D25F;
}
.Attendance{
  ion-row{
    border-bottom: 1px solid rgb(231, 224, 224);
    margin: 5px;
  }
}


.nameofemplyee{
  
font-family: Merge One;
font-size: 14px;
font-weight: 400;
line-height: 16.48px;
text-align: left;
width: 112px;
height: 16px;
top: 492px;
left: 27px;
gap: 0px;
opacity: 0px;

}

.fastcard {
  display: flex;
}

.addempeditinfo {
  flex: 1;
  margin-right: 10px; 
}

.addempeditinfo-button {
  display: flex;

  --border-radius: 5vmin;

}

.addempeditinfotext,
.text {
  margin-right: 5px; 
}


// .addempeditinfo2{
//   margin-left: 20px;
// }



  






