<ion-content [fullscreen]="true">
<div class="home">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
      <img src="assets/Group 1410119245.png">
      </ion-col>
      <ion-col size="6">
        <ion-row class="name">Hi, Ravi Prakash</ion-row>
        <ion-row class="refreshtime">Admin •   Synced 2 Min Ago</ion-row>
      </ion-col>
      <ion-col size="2" class="notificationicon"><img src="assets/logout drop down.png"></ion-col>
      <ion-col size="2" class="refreshicon"><img src="assets/refresh.svg"></ion-col>
    </ion-row>
  </ion-grid>
   <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content >
        <ion-grid >
          <ion-row class="fastcard" >
            <ion-col    size="3">
             <span class="addempeditinfotext">Your Info</span>
            </ion-col>
              <ion-col size="4" >
                <ion-button size="small"  fill="outline" shape="round" class="addempeditinfo">
                  
                  <span class="addempeditinfo" class="text">Add emp</span>
                  <ion-icon name="people-outline"></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="5" >
                <ion-button size="small" fill="outline" shape="round" class="addempeditinfo2">
                  <span class="text">Edit info</span> 
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
        
        
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <img src="assets/Rectangle 3464290.png" class="profile" alt="Employee Image">
            </ion-col>
            <ion-col size="7">
              <p>Name: John Doe</p>
              <p>Location: New York</p>
              <p>Role: Developer</p>
              <p>Phone Number: 123-456-7890</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  

    <ion-grid >
      <ion-row class="buttonLEMH">
  
        <ion-col size="auto">
          <ion-button fill="outline" shape="round" class="custom-button">
            <span class="text">Locations</span>
          <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
  
        <ion-col size="auto">
          <ion-button fill="outline" shape="round" class="custom-button">
            <span class="text">Edit Employee</span>
            <ion-icon name="people-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid >
      <ion-row class="buttonLEMH">
  
        <ion-col size="auto">
          <ion-button  fill="outline"  shape="round"  class="custom-button">
           <span class="text">History</span>
           <ion-icon name="timer-outline"></ion-icon>
           
          </ion-button>
        </ion-col>
  
        <ion-col size="auto">
          <ion-button  shape="round" class="custom-button">
           <span class="text"> Mark Attendance</span>
          <ion-icon></ion-icon>
           
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

<ion-card>
  <ion-card-content>
    
    <ion-grid>
      <span class="heding">All Employee Attendance Status</span>
    </ion-grid>
    <ion-grid>
      <div class="searchbar">
    <ion-searchbar  class="custom" placeholder="Search Employee"></ion-searchbar></div>
  </ion-grid>
    <ion-grid class="Attendance"> 
      
      <ion-row class="emplyeenamestatusheding">
        <ion-col  size="auto">
          <span>Employee Name</span>
        </ion-col>
        <ion-col size="auto">
          <span>Status</span>
        </ion-col>
      </ion-row>

      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
    
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
      <ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row><ion-row class="emplyeenamestatus">
        <ion-col size="auto">
          <span class="nameofemplyee">Dharampal Yadav</span>
        </ion-col>
        <ion-col size="auto">
          <span class="present">PRESENT</span>
        </ion-col>
        
      
      </ion-row>
     
      
    </ion-grid>

  </ion-card-content>
</ion-card>
</div>
</ion-content>
